/* Colors */
:root {
--soft-white: #FFFAF6;
--mango-tango: #F08A4B;
--middle-red: #d78a76;
--yellow-orange: #f2a541;
--maize-crayola: #F3CA40;
--queen-blue: #577590;
--burnt-orange: #BD520F;
--shadow-blue: #6787A2;
--dark-electric-blue: #465F72;
--logo-orange: #df9627;
--react-bg: #282c34;
}

.App {
/* text-align: center; */
color: var(--soft-white)!important;
font-family: 'Fira Sans Condensed', sans-serif;
background-color: var(--queen-blue)!important;
font-size: calc(10px + 1.5vmin);
}

.App-logo {
  margin-top:1em;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--react-bg);
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--soft-white);
}
.appheader {
font-family:  'Fira Sans Condensed', sans-serif;
text-transform: capitalize;
padding: .2em!important;
}

.navBar {
background-color: var(--queen-blue)!important;
}

.text-input {
  width: 50vw!important;
  margin:auto;
}

.btn-nav {
margin-left: 1em;
margin-bottom: .5em;
background-color: var(--burnt-orange)!important;
}

.btn-nav :hover{
background-color: var(--middle-red)!important;
}

h1{
padding-top: .7em;
}

.climber-profile-card {
border-bottom-right-radius: 1em!important;
border-bottom-left-radius: 1em!important;
border-top-left-radius: 1em!important;
border-top-right-radius: 1em!important;
border-style: none!important;
margin: 1em;
background-color: var(--dark-electric-blue)!important;
color: var(--maize-crayola)
}

#profilePic {
border-bottom-right-radius: 0em;
border-bottom-left-radius: 0em;
border-top-left-radius: 1em;
border-top-right-radius: 1em;
}

.session-display{
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 1fr 1fr;
}

.goal-display{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr 1fr;
}

a {
text-decoration: none!important;
color: var(--soft-white)!important;
}

.btn-link-auth-toggle {
color: var(--yellow-orange)!important;
font-weight: bolder!important;
}

.btn-auth {
background-color: var(--yellow-orange)!important;
}

.sign-up-input-grp {
border-radius: 1em;
border: solid .2em var(--shadow-blue);
padding-bottom: .3em;
max-width: 50vw!important;
}

.sign-up-input-area {
background-color: transparent!important;
padding: .2em!important;
border-radius: 1em!important;
border-style: none!important;
font-weight: bolder!important;
color: var(--soft-white)!important;
max-width: 50vw;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:var(--soft-white)!important;
  font-style: italic!important;
  opacity: 1; /* Firefox */
}

.tagline{
font-style: italic;
font-size: 12px;
color: var(--soft-white);
padding-left: 1em;
margin-bottom: 1em;
}

.footer {
background-color: var(--middle-red)!important;
}

.lighter-div {
background-color: var(--shadow-blue);
border-radius: 2em;
padding: 1em;
font-weight: bolder;
}

.form-text {
color: var(--yellow-orange)!important;
}