/* Colors */
:root {
  --soft-white: #fffaf6;
  --mango-tango: #f08a4b;
  --middle-red: #d78a76;
  --middle-red-light: #f9b09e;
  --yellow-orange: #f2a541;
  --maize-crayola: #faf6e9;
  --queen-blue: #577590;
  --queen-blue-light: #839eb6;
  --burnt-orange: #bd520f;
  --shadow-blue: #6787a2;
  --shadow-blue-light: #87b0d2;
  --dark-electric-blue: #465f72;
  --logo-orange: #df9627;
  --react-bg: #282c34;
--session-card-success: #9ACCB1;
}

.App {
  color: var(--soft-white) !important;
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: var(--dark-electric-blue);
  font-size: calc(10px + 1vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  margin-top: 1em;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--dark-electric-blue);
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--soft-white);
}

@media screen and (max-width: 330px) {
  #gym-table-style-col {
    display: none !important;
  }
  #gym-table-style-header {
    display: none !important;
  }
}

@media screen and (max-width: 499px) {
  #session-card-body {
    display: none;
  }
  .session-card-footer {
    display: none !important;
  }
  .session-date-btn {
    margin-left: 1px !important;
    padding: 0px !important;
    font-size: 12px !important;
  }
  #gym-table-experience-col {
    display: none !important;
  }
  #gym-table-experience-header {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 20px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  h4 {
    font-size: 15px !important;
  }
  h5 {
    font-size: 15px !important;
  }
  .climber-display td {
    font-size: smaller;
  }
}

/* If screen size is more than 500px wide set the input areas to half the size of the screen
*/
@media screen and (min-width: 600px) {
  .sign-up-input-grp {
    max-width: 70vw !important;
  }
  .sign-up-input-area {
    max-width: 70vw !important;
  }
}

@media screen and (min-width: 700px) {
  .sign-up-input-grp {
    max-width: 60vw !important;
  }
  .sign-up-input-area {
    max-width: 60vw !important;
  }
}

@media screen and (min-width: 900px) {
  .sign-up-input-grp {
    max-width: 50vw !important;
  }
  .sign-up-input-area {
    max-width: 50vw !important;
  }
}

@media screen and (min-width: 1000px) {
  .sign-up-input-grp {
    max-width: 40vw !important;
  }
  .sign-up-input-area {
    max-width: 40vw !important;
  }
}

.appheader {
  font-family: "Fira Sans Condensed", sans-serif;
  text-transform: capitalize;
  padding: 0.2em !important;
}

.navBar {
  background-color: var(--dark-electric-blue);
  align-items: center;
  justify-content: center;
}

.navBar {
list-style-type: none;
}

.btn-nav {
  margin-left: 1em;
  background-color: var(--yellow-orange) !important;
  opacity: 0.85;
}

h1 {
  padding-top: 0.5em;
}

.card-img {
  width: 100%;
  max-height: 30vh;
  object-fit: cover;
}

.climber-profile-card {
  border-bottom-right-radius: 1em !important;
  border-bottom-left-radius: 1em !important;
  border-top-left-radius: 1em !important;
  border-top-right-radius: 1em !important;
  margin: 1em;
  max-width: 300px;
  height: auto;
  background-color: var(--queen-blue) !important;
  color: var(--maize-crayola);
}

#profilePic {
  border-bottom-right-radius: 0em;
  border-bottom-left-radius: 0em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  /* height: auto; */
}

.session-display {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
}

.goal-display {
  display: grid;
  display: flex;
  flex-direction: column;
}

.navbar a {
  text-decoration: none !important;
  color: var(--soft-white) !important;
}

.session-card a {
  text-decoration: none !important;
  color: var(--dark-electric-blue) !important;
}

.climber-profile-card a {
  text-decoration: none !important;
  color: var(--soft-white) !important;
}

.btn-link-auth-toggle {
  color: var(--yellow-orange) !important;
}

.btn-auth {
  background-color: var(--yellow-orange) !important;
  color: var(--soft-white) !important;
  opacity: 0.8;
  border-color: var(--yellow-orange) !important;
}

.sign-up-input-grp {
  border-radius: 1em;
  border: 0.2em solid var(--shadow-blue);
  padding-bottom: 0.3em;
}

.sign-up-input-area {
  background-color: transparent !important;
  padding: 0.2em !important;
  border-radius: 1em !important;
  border-style: none !important;
  color: var(--soft-white) !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--yellow-orange) !important;
  opacity: 0.6; /* Firefox */
  font-size: calc(9px + 1vmin);
}

.tagline {
  font-style: italic;
  font-size: calc(7px + 1vmin);
  color: var(--soft-white);
  padding-left: 1em;
  margin-bottom: 1em;
}

.footer {
  background-color: var(--yellow-orange) !important;
  opacity: 0.85;
}

.lighter-div {
  background-color: var(--queen-blue);
  border-radius: 2em;
  padding: 1em;
  margin-top: 2em;
}

.climber-profile-div {
  background-color: var(--queen-blue);
  border-radius: 2em;
  padding: 1em;
  margin-top: 2em;
}

.spaced-div {
  border-radius: 2em;
  padding: 1em;
  margin: 1em;
}

.spaced-div-auto {
  border-radius: 2em;
  padding: 1em;
  margin-top: 1em;
}

.content-header {
  margin-bottom: 1em;
}

.btn {
  margin-top: 0.8em;
  border-radius: 5em !important;
  font-weight: bold !important;
  width: auto;
  height: auto;
}

.form {
  margin-left: 1em;
}

.session-card {
  border-radius: 0.25em !important;
  color: var(--react-bg);
}

.session-card-deets {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(1, 1fr);
  font-size: calc(7px + 1vmin);
  row-gap: 0px;
  justify-items: start;
}

#session-card-body {
  font-size: calc(7px + 1vmin) !important;
}

.session-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0px !important;
  border-top: none !important;
}

.goal-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
border-top: none!important;
}

.goal-card {
  color: var(--soft-white) !important;
  font-weight: bold;
  background-color: var(--yellow-orange);
  opacity: 0.9;
  border-bottom-right-radius: 1em !important;
  border-bottom-left-radius: 1em !important;
  border-top-left-radius: 1em !important;
  border-top-right-radius: 1em !important;
  margin: 1em;
  max-width: 300px;
}

.modalHeader {
  background-color: var(--yellow-orange) !important;
  color: var(--soft-white);
}

.modalBody {
  background-color: var(--mango-tango) !important;
}

.modalLabel {
  color: var(--soft-white);
}

.climber-display td,
th {
  color: var(--soft-white) !important;
}

.tagline-div {
  margin-top: 15px;
}

.user-story-card-text {
  padding: 0.7em;
}
.user-story-card-header {
  font-weight: bolder;
}

.btn-grp-goal {
  display: flex !important;
  flex-direction: row !important;
}

.mark-text {
  opacity: 0.8;
}

.session-date-btn {
  margin-left: 3px;
  padding: 0px;
  font-size: 10px;
}

.highlighted {
  background-color: var(--yellow-orange);
  opacity: 0.84;
}

/* .tip-display li {
list-style-type: url(../src/assets/mountains-2.png)!important;
} */

#tip-display ul li::marker {
content: url(../src/assets/mountains-2.png)!important;
}