/* Colors */
:root {
--soft-white: #FFFAF6;
--mango-tango: #F08A4B;
--middle-red: #d78a76;
--yellow-orange: #f2a541;
--maize-crayola: #F3CA40;
--queen-blue: #577590;
--burnt-orange: #BD520F;
--shadow-blue: #6787A2;
--dark-electric-blue: #465F72;
--logo-orange: #df9627;
--react-bg: #282c34;
}

.App {
color: var(--soft-white)!important;
font-family: 'Fira Sans Condensed', sans-serif;
background-color: var(--queen-blue)!important;
font-size: calc(10px + 1vmin);
display: flex;
flex-direction: column;
/* align-items: center; */
justify-content: center;
}

.App-logo {
  margin-top:1em;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--react-bg);
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--soft-white);
}

@media screen and (max-width: 768px) {
    h2{
        font-size:22px!important;
    }
 h3{
        font-size:20px!important;
    }
 h4{
        font-size:15px!important;
    }
 h5{
        font-size:12px!important;
    }

#session-card-body {
display: none;
}

#session-card-footer {
display: none;
}
}

.appheader {
font-family:  'Fira Sans Condensed', sans-serif;
text-transform: capitalize;
padding: .2em!important;
}

.navBar {
background-color: var(--queen-blue)!important;
}

.text-input {
  width: 50vw!important;
  margin:auto;
}

.btn-nav {
margin-left: 1em;
background-color: var(--yellow-orange)!important
}

h1{
padding-top: .5em;
}

.climber-profile-card {
border-bottom-right-radius: 1em!important;
border-bottom-left-radius: 1em!important;
border-top-left-radius: 1em!important;
border-top-right-radius: 1em!important;
border-style: none!important;
margin: 1em;
max-width: 300px;
height: auto;
background-color: var(--dark-electric-blue)!important;
color: var(--maize-crayola)
}

#profilePic {
border-bottom-right-radius: 0em;
border-bottom-left-radius: 0em;
border-top-left-radius: 1em;
border-top-right-radius: 1em;
height: auto;
width: auto;
}

.session-display{
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 1fr 1fr;
}

.goal-display{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr 1fr;
}

a {
text-decoration: none!important;
color: var(--soft-white)!important;
}

.btn-link-auth-toggle {
color: var(--yellow-orange)!important;
}

.btn-auth {
background-color: var(--yellow-orange)!important;
color: var(--soft-white)!important
};

.sign-up-input-grp {
border-radius: 1em;
border: .2em solid var(--shadow-blue);
padding-bottom: .3em;
max-width: 50vw!important;
}

.sign-up-input-area {
background-color: transparent!important;
padding: .2em!important;
border-radius: 1em!important;
border-style: none!important;
font-weight: bolder!important;
color: var(--soft-white)!important;
max-width: 50vw;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:var(--soft-white)!important;
  opacity: .6; /* Firefox */
font-size: calc(9px + 1vmin);
}

.tagline{
font-style: italic;
 font-size: calc(7px + 1vmin);
color: var(--soft-white);
padding-left: 1em;
margin-bottom: 1em;
}

.footer {
background-color: var(--middle-red)!important;
}

.lighter-div {
background-color: var(--shadow-blue);
border-radius: 2em;
padding: 1em;
margin: 3em;
font-weight: bolder;
}

.spaced-div {
border-radius: 2em;
padding: 1em;
margin: 1em;
}

.content-header{
margin-bottom: 1em;
}

.form-text {
color: var(--yellow-orange)!important;
}

.inner-container {
padding-left: 5em;
}

.btn {
margin-top: .8em;
/* potentially change the margin on btns */
border-radius: 5em!important;
font-weight: bold!important;
width: auto;
height: auto;
}

.form {
margin-left: 1em;
}

.session-card {
border-radius: 1em!important;
color: var(--react-bg);
}

.session-card-deets {
display: grid;
grid-template-rows: repeat(4, 1fr);
grid-template-columns:repeat(1, 1fr);
font-size: calc(7px + 1vmin);
row-gap: 0px;
justify-items: start;
}

#session-card-body {
font-size: calc(7px + 1vmin)!important;
}

#session-card-footer {
justify-content: center;
align-items: center
}