.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.appheader {
font-family:  'Fira Sans Condensed', sans-serif;
text-transform: capitalize;
}

.App-link {
  color: #61dafb;
}

/* .climber-profile-card {
border-radius: 3em!important;} */
/* .goal-btn:focus {
background-color: orange!important;
}

.goal-btn:hover {
background-color: orange!important;
} */

.text-input {
  width: 50vw!important;
  margin:auto;
}

.btn-nav {
margin-left: 1em;
margin-bottom: .5em;
}

.climber-profile-card {
border-bottom-right-radius: 1em!important;
border-bottom-left-radius: 1em!important;
max-width: min-content;
max-height: min-content;
border-style: none!important;
}


#profilePic {
border-bottom-right-radius: 0em;
border-bottom-left-radius: 0em;
border-top-left-radius: 1em;
border-top-right-radius: 1em;
}

.session-display{
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 1fr 1fr;
}

.goal-display{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr 1fr;

}
